Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  modernize-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,  
  -readability-identifier-length,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -performance-avoid-endl,
  -modernize-use-trailing-return-type,
  -modernize-use-ranges,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
